@font-face {
  font-family: 'HomesteadRegular';
  src:font-url('homestead-regular.eot');
  src:font-url('homestead-regular.woff'), 
      font-url('homestead-regular.ttf');
  }
// @font-face {
//   font-family:'HomesteadRegular';
//   // src:asset-url('homestead-regular.eot');
//   src:asset-url('/homestead-regular.woff'),
//      :asset-url('/homestead-regular.ttf');
// } 
 